<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title if title else "Login - UPSA Exam Verification" }}</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            pizza: "#c9920f",
            blackcurrant: "#322e42",
            caferoyale: "#74490c",
            limedoak: "#a18451",
            brand: {
              50: "#fff8eb",
              200: "#a18451",
              500: "#a18451",
              600: "#74490c",
              700: "#322e42"
            }
          }
        }
      }
    }
  </script>
</head>

<body class="bg-slate-50 text-slate-900">
  <div class="min-h-screen">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
